.footer-container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #6D5D3D;
    color: #FFFFFF;
    height: 202px;
}


.footer-container h4 {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.footer-container a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.footer-box {
    display: flex;
    margin-top: 40px;
    gap: 100px;
}

.bloco a {
    display: flex;
    margin-top: 25px;
    white-space: nowrap;
}

.redes-sociais {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-left: 20px;
}